*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
  	z-index: 1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
  	align-items: center;

}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	animation: animat 1s ease-in;
}

@keyframes animat{
	0%{
		opacity: 0;
		transform: translateY(200px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

.img img{
	width: 300px;
	margin-right:50px;
	z-index: 999;
	animation: img 1s ease-in;
}

@keyframes img{
	0%{
		opacity: 0;
		transform: translateX(-200px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}



form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
	margin-top: 10px;
}

a:hover{
	color: #38d39f;
}

.btn:not(.Browes){
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 250px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

.Browes{
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 10px 20px;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	cursor: pointer;
	transition: .5s ease-in-out;
	font-size:16px;
	font-weight: bold;
	border-radius: 20px;
	border: 3px solid #fff;
	z-index: 999;
}

.Browes:hover{
	background-position: right;
	color: #fff;
	text-decoration: none;
}

.daden{
	background-color: #38d39f;
	z-index: -1;
	width: 220px;
	height: 220px;
	position: absolute;
	top: -50px;
	left: -40px;
	border-radius: 50%;
}


/******************************************Customer*******************************************/

.customer img{
	width: 375px;
}
.check{
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
.checkk{
	margin-top: 5px;
	float: left;
	color: #777;
}
@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.customer img{
		width: 325px;
	}
}


/*****************************  Orgnizing  ******************************************/
.orgnizing img{
	width: 375px;
}
@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.orgnizing img{
		width: 300px;
	}
}

/*****************************popup  ******************************************/
.popup .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	display: none;
  }
  .popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background-color: #fff;
	z-index: 2;
	width: 450px;
	height: auto;
	padding: 30px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
  }
  .popup .content h3  {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #333;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .popup .content input{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 20px;
	float: right;
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 2px solid #ddd;
	text-align: center;
	color: #333;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .popup .content input:focus{
	border-bottom: 2px solid rgb(0, 255, 213);
  }
  .popup .content form button{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-size: 16px;
	display: inline;
	border: none;
	outline: none;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .popup .content a{
	text-decoration: none;
	margin-top: 10px;
	color: rgb(0, 255, 213);
	font-size: 16px;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  .popup .close-btn{
	position: absolute;
	top: 15px;
	right: 20px;
	background-color: rgb(0, 255, 213);
	color: #fff;
	font-size: 20px;
	width: 30px;
	height: 30px;
	line-height: 25px;
	text-align: center;
	font-weight: 900;
	border-radius: 50%;
	cursor: pointer;
	
  }
  .popup.active .overlay{
	display: block;
  }
  .popup.active .content{
	transition: all 0.4s ease-in-out;
	transform: translate(-50%,-50%) scale(1);
  }

  .password{
    position: relative;
}
.password span{
    position: absolute;
    right: 10px;
    top:15px;
    cursor: pointer;
	color: #888;
	
}
.password span{
    color: #222;
}
